In [40]:
import pandas as pd
import numpy as np
from functools import reduce
import requests
import json
from pprint import pprint
from confy import gkey

In [6]:
#base_url="http://api.eia.gov/geoset/?geoset_id=sssssss&regions=NewMexico&api_key=gkey[&start=|&num=1960][&end=2016][&out=json]"

In [7]:
# Gathering Production data by source of enery (Btu)
#base_url="http://api.eia.gov/series/?"
#api_key=YOUR_API_KEY_HERE&series_id=SEDS.CLPRB.NM.A

#series_id_to_call=["SEDS.CLPRB.NM.A;SEDS.PAPRB.NM.A;SEDS.NGMPB.NM.A;SEDS.REPRB.NM.A"]
#parame={"api_key":gkey,"series_id":series_id_to_call}

In [43]:
base_url="http://api.eia.gov/series/?"
series_id_to_call=["SEDS.CLPRB.NM.A"]
parame={"api_key":gkey,"series_id":series_id_to_call}
coal = requests.get(base_url, params=parame).json()
coal_df=pd.DataFrame(coal["series"][0]["data"])
#coal_df.rename({columns={"0": Year,"1":Energy}, inplace=True)
coal_df.columns=["Year","Coal_Energy_Production(Billion-Btu)"]
coal_df

    Year  Coal_Energy_Production(Btu)
0   2016                       246549
1   2015                       357525
2   2014                       400158
3   2013                       400228
4   2012                       409050
5   2011                       405952
6   2010                       381448
7   2009                       466100
8   2008                       475817
9   2007                       455522
10  2006                       485090
11  2005                       536980
12  2004                       510869
13  2003                       490629
14  2002                       543314
15  2001                       554846
16  2000                       513357
17  1999                       547678
18  1998                       534746
19  1997                       505578
20  1996                       452294
21  1995                       507955
22  1994                       533893
23  1993                       535318
24  1992                       457758
25  1991                       400542
26  1990                       454214
27  1989                       444915
28  1988                       407855
29  1987                       359625
30  1986                       404083
31  1985                       420410
32  1984                       397917
33  1983                       381364
34  1982                       375420
35  1981                       355602
36  1980                       345071
37  1979                       292444
38  1978                       232636
39  1977                       200268
40  1976                       175430
41  1975                       157541
42  1974                       168496
43  1973                       164714
44  1972                       154290
45  1971                       152924
46  1970                       137698
47  1969                        83636
48  1968                        64144
49  1967                        64780
50  1966                        51536
51  1965                        60085
52  1964                        55539
53  1963                        36384
54  1962                        12664
55  1961                         7707
56  1960                         5518

In [28]:
base_url="http://api.eia.gov/series/?"
series_id_to_call=["SEDS.PAPRB.NM.A"]
parame={"api_key":gkey,"series_id":series_id_to_call}
Crude = requests.get(base_url, params=parame).json()
Crude_df=pd.DataFrame(Crude["series"][0]["data"])
Crude_df.columns=["Year","Crude_Oil_Energy_Production(Billion-Btu)"]
Crude_df

In [31]:
base_url="http://api.eia.gov/series/?"
series_id_to_call=["SEDS.NGMPB.NM.A"]
parame={"api_key":gkey,"series_id":series_id_to_call}
Gas = requests.get(base_url, params=parame).json()
Gas_df=pd.DataFrame(Gas["series"][0]["data"])
Gas_df.columns=["Year","Natura_Gas_Energy_Production(Billion-Btu)"]
Gas_df

    Year  Natura_Gas_Energy_Production(Btu)
0   2016                            1450059
1   2015                            1442958
2   2014                            1404289
3   2013                            1338657
4   2012                            1374261
5   2011                            1405192
6   2010                            1461316
7   2009                            1557687
8   2008                            1616879
9   2007                            1699318
10  2006                            1789427
11  2005                            1837239
12  2004                            1837593
13  2003                            1809566
14  2002                            1773084
15  2001                            1822755
16  2000                            1815971
17  1999                            1646088
18  1998                            1633893
19  1997                            1749236
20  1996                            1764091
21  1995                            1794561
22  1994                            1701891
23  1993                            1596974
24  1992                            1438882
25  1991                            1193312
26  1990                            1125997
27  1989                             995155
28  1988                             948646
29  1987                             987050
30  1986                             839140
31  1985                            1063632
32  1984                            1104684
33  1983                            1027892
34  1982                            1143884
35  1981                            1306555
36  1980                            1329290
37  1979                            1377769
38  1978                            1359415
39  1977                            1388741
40  1976                            1405146
41  1975                            1390466
42  1974                            1418349
43  1973                            1397972
44  1972                            1414840
45  1971                            1361162
46  1970                            1321757
47  1969                            1320774
48  1968                            1351004
49  1967                            1238818
50  1966                            1158242
51  1965                            1087603
52  1964                            1019732
53  1963                             938101
54  1962                             933732
55  1961                             916383
56  1960                             927136

In [73]:
base_url="http://api.eia.gov/series/?"
series_id_to_call=["SEDS.REPRB.NM.A"]
parame={"api_key":gkey,"series_id":series_id_to_call}
Renew = requests.get(base_url, params=parame).json()
Renew_df=pd.DataFrame(Renew["series"][0]["data"])
Renew_df.columns=["Year","Renewable_Energy_Production(Billion-Btu)"]
Renew_df

    Year  Renewable_Energy_Production(Billion-Btu)
0   2016                                     50045
1   2015                                     35709
2   2014                                     41959
3   2013                                     39772
4   2012                                     37798
5   2011                                     36040
6   2010                                     33169
7   2009                                     30999
8   2008                                     35347
9   2007                                     32736
10  2006                                     29371
11  2005                                     24068
12  2004                                     12326
13  2003                                      9554
14  2002                                      8690
15  2001                                      8027
16  2000                                      9202
17  1999                                      8965
18  1998                                      8466
19  1997                                      9025
20  1996                                      7587
21  1995                                      9073
22  1994                                      8601
23  1993                                      9667
24  1992                                      9255
25  1991                                      9139
26  1990                                      8336
27  1989                                      9275
28  1988                                      8485
29  1987                                      8882
30  1986                                     11713
31  1985                                     10998
32  1984                                     10332
33  1983                                      9739
34  1982                                      8425
35  1981                                      7850
36  1980                                      6223
37  1979                                      9922
38  1978                                      7989
39  1977                                      7328
40  1976                                      6781
41  1975                                      6002
42  1974                                      4919
43  1973                                      4896
44  1972                                      4746
45  1971                                      4965
46  1970                                      5548
47  1969                                      5682
48  1968                                      5706
49  1967                                      5678
50  1966                                      6210
51  1965                                      6075
52  1964                                      6300
53  1963                                      6469
54  1962                                      6791
55  1961                                      6937
56  1960                                      7373

In [74]:
all_data=[coal_df,Crude_df,Gas_df,Renew_df]
Production_table=reduce (lambda left,right: pd.merge(left,right,on='Year'), all_data)
Production_table.head()

,Year,Coal_Energy_Production(Btu),Crude_Oil_Energy_Production(Btu),Natura_Gas_Energy_Production(Btu),Renewable_Energy_Production(Billion-Btu)
0,2016,246549,835561,1450059,50045
1,2015,357525,842640,1442958,35709
2,2014,400158,723347,1404289,41959
3,2013,400228,595289,1338657,39772
4,2012,409050,496178,1374261,37798

In [48]:
base_url="http://api.eia.gov/series/?"
series_id_to_call=["SEDS.TETCB.NM.A"]
parame={"api_key":gkey,"series_id":series_id_to_call}
Total = requests.get(base_url, params=parame).json()
Total_df=pd.DataFrame(Total["series"][0]["data"])
#coal_df.rename({columns={"0": Year,"1":Energy}, inplace=True)
Total_df.columns=["Year","Tota_Energy_Consumption(Billion-Btu)"]
Total_df.head()

   Year  Tota_Energy_Consumption(Billion-Btu)
0  2016                                667125
1  2015                                676563
2  2014                                680239
3  2013                                670515
4  2012                                666801

In [67]:
#Consumptionn by sector:
#coal...........................................................................
base_url="http://api.eia.gov/series/?"
series_id_to_call=["SEDS.CLTCB.NM.A"]
parame={"api_key":gkey,"series_id":series_id_to_call}
coal_consump = requests.get(base_url, params=parame).json()
coal_consump_df=pd.DataFrame(coal_consump["series"][0]["data"])
#coal_df.rename({columns={"0": Year,"1":Energy}, inplace=True)
coal_consump_df.columns=["Year","Coal_Consumption(Billion-Btu)"]
#coal_consump_df.head()
#Oil..........................................................................
base_url="http://api.eia.gov/series/?"
series_id_to_call=["SEDS.PMTCB.NM.A"]
parame={"api_key":gkey,"series_id":series_id_to_call}
oil_consump = requests.get(base_url, params=parame).json()
oil_consump_df=pd.DataFrame(oil_consump["series"][0]["data"])
#coal_df.rename({columns={"0": Year,"1":Energy}, inplace=True)
oil_consump_df.columns=["Year","Crude_oil_Consumption(Billion-Btu)"]
#oil_consump_df.head()

#Natural Gas...................................................................
base_url="http://api.eia.gov/series/?"
series_id_to_call=["SEDS.NGTCB.NM.A"]
parame={"api_key":gkey,"series_id":series_id_to_call}
gas_consump = requests.get(base_url, params=parame).json()
gas_consump_df=pd.DataFrame(gas_consump["series"][0]["data"])
#coal_df.rename({columns={"0": Year,"1":Energy}, inplace=True)
gas_consump_df.columns=["Year","Natural_Gas_Consumption(Billion-Btu)"]
#gas_consump_df.head()

In [69]:
#Renewable_Energy..................................................................
base_url="http://api.eia.gov/series/?"
series_id_to_call=["SEDS.RETCB.NM.A"]
parame={"api_key":gkey,"series_id":series_id_to_call}
renew_consump = requests.get(base_url, params=parame).json()
renew_consump_df=pd.DataFrame(renew_consump["series"][0]["data"])
renew_consump_df.columns=["Year","Renewable_Energys_Consumption(Billion-Btu)"]
#renew_consump_df.head()

In [70]:
all_Comsupmtion_data=[coal_consump_df,oil_consump_df,gas_consump_df,renew_consump_df]
Consumption_table=reduce(lambda left,right: pd.merge(left,right,on='Year'), all_Comsupmtion_data)
Consumption_table.head()

,Year,Coal_Consumption(Billion-Btu),Crude_oil_Consumption(Billion-Btu),Natural_Gas_Consumption(Billion-Btu),Renewable_Energys_Consumption(Billion-Btu)
0,2016,197083,237867,259158,58296
1,2015,215703,239184,260038,44125
2,2014,215348,241242,256056,46598
3,2013,256377,232753,252867,44906
4,2012,263439,232630,249815,43728

In [71]:
#Total Consumption per capita..................................................................
base_url="http://api.eia.gov/series/?"
series_id_to_call=["SEDS.TETPB.NM.A"]
parame={"api_key":gkey,"series_id":series_id_to_call}
Total_perCapita_consump = requests.get(base_url, params=parame).json()
Total_perCapita_consump_df=pd.DataFrame(Total_perCapita_consump["series"][0]["data"])
Total_perCapita_consump_df.columns=["Year","Total(per Capita)_Consumption(Billion-Btu)"]
Total_perCapita_consump_df.head()

   Year  Total(per Capita)_Consumption(Billion-Btu)
0  2016                                       319.9
1  2015                                       324.9
2  2014                                       326.5
3  2013                                       321.6
4  2012                                       320.0