In [2]:
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint
from confy import gkey

In [3]:
#base_url="http://api.eia.gov/geoset/?geoset_id=sssssss&regions=NewMexico&api_key=gkey[&start=|&num=1960][&end=2016][&out=json]"

In [4]:
# Gathering Production data by source of enery (Btu)
base_url="http://api.eia.gov/series/?"

#api_key=YOUR_API_KEY_HERE&series_id=SEDS.CLPRB.NM.A

series_id_to_call=["SEDS.CLPRB.NM.A;SEDS.PAPRB.NM.A;SEDS.NGMPB.NM.A;SEDS.REPRB.NM.A"]
parame={"api_key":gkey,"series_id":series_id_to_call}

In [5]:
response_json = requests.get(base_url, params=parame).json()

response_json

{'request': {'command': 'series',
  'series_id': 'SEDS.CLPRB.NM.A;SEDS.PAPRB.NM.A;SEDS.NGMPB.NM.A;SEDS.REPRB.NM.A'},
 'series': [{'series_id': 'SEDS.CLPRB.NM.A',
   'name': 'Coal production, New Mexico',
   'units': 'Billion Btu',
   'f': 'A',
   'description': 'Coal production, New Mexico See http://www.eia.gov/state/seds/seds-technical-notes-complete.cfm?sid=US for technical notes and documentation.',
   'copyright': 'None',
   'source': 'SEDS, EIA, U.S. Energy Information Administration',
   'iso3166': 'USA-NM',
   'geography': 'USA-NM',
   'start': '1960',
   'end': '2016',
   'updated': '2018-10-26T15:52:18-0400',
   'data': [['2016', 246549],
    ['2015', 357525],
    ['2014', 400158],
    ['2013', 400228],
    ['2012', 409050],
    ['2011', 405952],
    ['2010', 381448],
    ['2009', 466100],
    ['2008', 475817],
    ['2007', 455522],
    ['2006', 485090],
    ['2005', 536980],
    ['2004', 510869],
    ['2003', 490629],
    ['2002', 543314],
    ['2001', 554846],
    ['2000', 513357],
    ['1999', 547678],
    ['1998', 534746],
    ['1997', 505578],
    ['1996', 452294],
    ['1995', 507955],
    ['1994', 533893],
    ['1993', 535318],
    ['1992', 457758],
    ['1991', 400542],
    ['1990', 454214],
    ['1989', 444915],
    ['1988', 407855],
    ['1987', 359625],
    ['1986', 404083],
    ['1985', 420410],
    ['1984', 397917],
    ['1983', 381364],
    ['1982', 375420],
    ['1981', 355602],
    ['1980', 345071],
    ['1979', 292444],
    ['1978', 232636],
    ['1977', 200268],
    ['1976', 175430],
    ['1975', 157541],
    ['1974', 168496],
    ['1973', 164714],
    ['1972', 154290],
    ['1971', 152924],
    ['1970', 137698],
    ['1969', 83636],
    ['1968', 64144],
    ['1967', 64780],
    ['1966', 51536],
    ['1965', 60085],
    ['1964', 55539],
    ['1963', 36384],
    ['1962', 12664],
    ['1961', 7707],
    ['1960', 5518]]},
  {'series_id': 'SEDS.PAPRB.NM.A',
   'name': 'Crude oil production (including lease condensate), New Mexico',
   'units': 'Billion Btu',
   'f': 'A',
   'description': 'Crude oil production (including lease condensate), New Mexico See http://www.eia.gov/state/seds/seds-technical-notes-complete.cfm?sid=US for technical notes and documentation.',
   'copyright': 'None',
   'source': 'SEDS, EIA, U.S. Energy Information Administration',
   'iso3166': 'USA-NM',
   'geography': 'USA-NM',
   'start': '1960',
   'end': '2016',
   'updated': '2018-10-26T15:52:18-0400',
   'data': [['2016', 835561],
    ['2015', 842640],
    ['2014', 723347],
    ['2013', 595289],
    ['2012', 496178],
    ['2011', 414503],
    ['2010', 380300],
    ['2009', 354832],
    ['2008', 348899],
    ['2007', 343238],
    ['2006', 344822],
    ['2005', 353585],
    ['2004', 374199],
    ['2003', 386216],
    ['2002', 391860],
    ['2001', 394406],
    ['2000', 389748],
    ['1999', 373381],
    ['1998', 419502],
    ['1997', 405037],
    ['1996', 373978],
    ['1995', 374146],
    ['1994', 381907],
    ['1993', 396848],
    ['1992', 405838],
    ['1991', 408419],
    ['1990', 390050],
    ['1989', 398541],
    ['1988', 413163],
    ['1987', 419502],
    ['1986', 439130],
    ['1985', 455474],
    ['1984', 460149],
    ['1983', 435980],
    ['1982', 411939],
    ['1981', 415094],
    ['1980', 436879],
    ['1979', 461964],
    ['1978', 483517],
    ['1977', 505893],
    ['1976', 534354],
    ['1975', 551365],
    ['1974', 572431],
    ['1973', 585719],
    ['1972', 641045],
    ['1971', 686790],
    ['1970', 743467],
    ['1969', 749517],
    ['1968', 745590],
    ['1967', 731635],
    ['1966', 720093],
    ['1965', 691163],
    ['1964', 660405],
    ['1963', 637658],
    ['1962', 634102],
    ['1961', 652807],
    ['1960', 622804]]},
  {'series_id': 'SEDS.NGMPB.NM.A',
   'name': 'Natural gas marketed production, New Mexico',
   'units': 'Billion Btu',
   'f': 'A',
   'description': 'Natural gas marketed production, New Mexico See http://www.eia.gov/state/seds/seds-technical-notes-complete.cfm?sid=US for technical notes and documentation.',
   'copyright': 'None',
   'source': 'SEDS, EIA, U.S. Energy Information Administration',
   'iso3166': 'USA-NM',
   'geography': 'USA-NM',
   'start': '1960',
   'end': '2016',
   'updated': '2018-10-26T15:52:18-0400',
   'data': [['2016', 1450059],
    ['2015', 1442958],
    ['2014', 1404289],
    ['2013', 1338657],
    ['2012', 1374261],
    ['2011', 1405192],
    ['2010', 1461316],
    ['2009', 1557687],
    ['2008', 1616879],
    ['2007', 1699318],
    ['2006', 1789427],
    ['2005', 1837239],
    ['2004', 1837593],
    ['2003', 1809566],
    ['2002', 1773084],
    ['2001', 1822755],
    ['2000', 1815971],
    ['1999', 1646088],
    ['1998', 1633893],
    ['1997', 1749236],
    ['1996', 1764091],
    ['1995', 1794561],
    ['1994', 1701891],
    ['1993', 1596974],
    ['1992', 1438882],
    ['1991', 1193312],
    ['1990', 1125997],
    ['1989', 995155],
    ['1988', 948646],
    ['1987', 987050],
    ['1986', 839140],
    ['1985', 1063632],
    ['1984', 1104684],
    ['1983', 1027892],
    ['1982', 1143884],
    ['1981', 1306555],
    ['1980', 1329290],
    ['1979', 1377769],
    ['1978', 1359415],
    ['1977', 1388741],
    ['1976', 1405146],
    ['1975', 1390466],
    ['1974', 1418349],
    ['1973', 1397972],
    ['1972', 1414840],
    ['1971', 1361162],
    ['1970', 1321757],
    ['1969', 1320774],
    ['1968', 1351004],
    ['1967', 1238818],
    ['1966', 1158242],
    ['1965', 1087603],
    ['1964', 1019732],
    ['1963', 938101],
    ['1962', 933732],
    ['1961', 916383],
    ['1960', 927136]]},
  {'series_id': 'SEDS.REPRB.NM.A',
   'name': 'Renewable energy production, New Mexico',
   'units': 'Billion Btu',
   'f': 'A',
   'description': 'Renewable energy production, New Mexico See http://www.eia.gov/state/seds/seds-technical-notes-complete.cfm?sid=US for technical notes and documentation.',
   'copyright': 'None',
   'source': 'SEDS, EIA, U.S. Energy Information Administration',
   'iso3166': 'USA-NM',
   'geography': 'USA-NM',
   'start': '1960',
   'end': '2016',
   'updated': '2018-10-26T15:52:18-0400',
   'data': [['2016', 50045],
    ['2015', 35709],
    ['2014', 41959],
    ['2013', 39772],
    ['2012', 37798],
    ['2011', 36040],
    ['2010', 33169],
    ['2009', 30999],
    ['2008', 35347],
    ['2007', 32736],
    ['2006', 29371],
    ['2005', 24068],
    ['2004', 12326],
    ['2003', 9554],
    ['2002', 8690],
    ['2001', 8027],
    ['2000', 9202],
    ['1999', 8965],
    ['1998', 8466],
    ['1997', 9025],
    ['1996', 7587],
    ['1995', 9073],
    ['1994', 8601],
    ['1993', 9667],
    ['1992', 9255],
    ['1991', 9139],
    ['1990', 8336],
    ['1989', 9275],
    ['1988', 8485],
    ['1987', 8882],
    ['1986', 11713],
    ['1985', 10998],
    ['1984', 10332],
    ['1983', 9739],
    ['1982', 8425],
    ['1981', 7850],
    ['1980', 6223],
    ['1979', 9922],
    ['1978', 7989],
    ['1977', 7328],
    ['1976', 6781],
    ['1975', 6002],
    ['1974', 4919],
    ['1973', 4896],
    ['1972', 4746],
    ['1971', 4965],
    ['1970', 5548],
    ['1969', 5682],
    ['1968', 5706],
    ['1967', 5678],
    ['1966', 6210],
    ['1965', 6075],
    ['1964', 6300],
    ['1963', 6469],
    ['1962', 6791],
    ['1961', 6937],
    ['1960', 7373]]}]}

In [15]:
response_json["series"][0]["data"][0]

['2016', 246549]

In [10]:
datalist=[]
for i in range(len(response_json["series"])):
    datalist.append(response_json["series"][i]["data"])

In [13]:
pd.DataFrame(datalist)

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,"[2016, 246549]","[2015, 357525]","[2014, 400158]","[2013, 400228]","[2012, 409050]","[2011, 405952]","[2010, 381448]","[2009, 466100]","[2008, 475817]","[2007, 455522]",...,"[1969, 83636]","[1968, 64144]","[1967, 64780]","[1966, 51536]","[1965, 60085]","[1964, 55539]","[1963, 36384]","[1962, 12664]","[1961, 7707]","[1960, 5518]"
1,"[2016, 835561]","[2015, 842640]","[2014, 723347]","[2013, 595289]","[2012, 496178]","[2011, 414503]","[2010, 380300]","[2009, 354832]","[2008, 348899]","[2007, 343238]",...,"[1969, 749517]","[1968, 745590]","[1967, 731635]","[1966, 720093]","[1965, 691163]","[1964, 660405]","[1963, 637658]","[1962, 634102]","[1961, 652807]","[1960, 622804]"
2,"[2016, 1450059]","[2015, 1442958]","[2014, 1404289]","[2013, 1338657]","[2012, 1374261]","[2011, 1405192]","[2010, 1461316]","[2009, 1557687]","[2008, 1616879]","[2007, 1699318]",...,"[1969, 1320774]","[1968, 1351004]","[1967, 1238818]","[1966, 1158242]","[1965, 1087603]","[1964, 1019732]","[1963, 938101]","[1962, 933732]","[1961, 916383]","[1960, 927136]"
3,"[2016, 50045]","[2015, 35709]","[2014, 41959]","[2013, 39772]","[2012, 37798]","[2011, 36040]","[2010, 33169]","[2009, 30999]","[2008, 35347]","[2007, 32736]",...,"[1969, 5682]","[1968, 5706]","[1967, 5678]","[1966, 6210]","[1965, 6075]","[1964, 6300]","[1963, 6469]","[1962, 6791]","[1961, 6937]","[1960, 7373]"